.card-img-top{
	width: 200px;
	height: 200px;
}
body{
	background-color: #FEE9F3;
}
.accordion{
width: 2200px;

}
.verjin{
	width: 2200px;
}
.white
{
	background-color: white;
}
.gif{
	display: block;
  margin-left: 250px;
  margin-right: auto;
  width: 30%;
}
